@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Alvaro Alejandro Guzman Nunes</h1>
    <p>Adding my first name to the excersise page.</p>
</div>
